{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié - Vacanows{% endblock %}

{% block main %}
<div class="centered-form">
    <div class="form-container">
        <h1>Mot de passe oublié ?</h1>
        <form action="{{ path('app_forgot_password') }}" method="post">
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Envoyer le lien de réinitialisation</button>
        </form>
        <div class="toggle-form">
            <a href="{{ path('app_login') }}">Retour à la connexion</a>
        </div>
    </div>
</div>

<div class="wave"></div>
<div class="wave"></div>
<div class="wave"></div>
{% endblock %}
