<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if content is not null %}
            <a class="navbar-brand mx-5" href="{{ path('home') }}">
                {% if content.getLogo() is not null %}
                    <img src="{{ asset('uploads/images/' ~ content.getLogo()) }}" alt="logo" width="70" height="70">
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% for navbar in navbar %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ navbar }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a class="btn ml-auto contact-button">Contact</a>
            </div>
        {% endif %}
    </div>
</nav>
