@import "./vars.css";
@import "./mixin.css";


.section-1-articles
{
    padding: 50px 0;
}

.temps-lecture{
    padding: 20px 10px;
}

.temps-lecture-articles{
    padding: 20px 0px;
}

.temps-lecture p{
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px;
    text-align: center;
    border-radius: 35px;
    max-width: 200px;
    font-weight: 600;
}

.image-article{
    width: 100%;
    max-height: 511px;
    object-fit: cover;
    border-radius: 25px;

}

.btn-filtre-all{
    background-color: var(--white);
    color: var(--secondary);
    font-weight: 600;
    margin: 5px 0;
    max-width: 200px;
    padding: 15px;
    border: 2px solid var(--secondary);

}

.btn-filtre-all:hover{
    background-color: var(--secondary);
    color: var(--white);
    border: 2px dotted var(--secondary);
}

.btn-filtre-all:active{
    background-color: var(--secondaryHover) !important;
    color: var(--white) !important;
    border: 2px solid var(--secondaryHover) !important;
}

.ligne-paire {
    background-color: #F7F7F7;
}

.ligne-impaire {
    background-color: #EFEFEF;
}

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: none;
    padding: 25px;
}

.ligne-paire td {
    background-color: #F7F7F7;
}

.ligne-impaire td {
    background-color: #EFEFEF;
}

.ligne-end td{
    background-color: #e0e0e0;
}

.sujets{
    padding: 50px 0 40px 0;
    font-size: 36px;
}

.tab_impaire{
    padding: 0;
}

.titre-articles{
    margin: 0;
}

.card-link{
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.filAriane a{
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
}

.filAriane a:hover{
    color: var(--secondaryHover);
}

.active-Ariane{
    color: var(--secondary);

}

.card-bottom{
    padding-bottom: 50px;
    height: 200px;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: var(--secondary);
    font-size: 22px;
}

.Image-sujetlies{
    max-width: 500px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 25px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.aucun-articles{
    text-align: center;
}

.bouton_tab{
    background-color: var(--secondary) !important;
    color: var(--white);
    font-weight: 600;
    margin:5px 0;
    max-width: 200px;
}

.bouton_tab:hover{
    background-color: var(--secondaryHover) !important;
    color: var(--white);
}

.bouton_tab:active{
    background-color: var(--secondary) !important;
    color: var(--white) !important;
}

.section-2-articles{
    margin-top: 30px;
}

.section-3-articles{
    margin-top: 30px;
}

.section-4-articles{
    margin-top: 90px;
}

.section-5-articles{
    margin-top: 90px;
}

.section-6-articles{
    margin-top: 50px;
}

.section-7-articles{
    margin-top: 60px;
}

.nb-glob-sc2{
    font-size: 44px !important;
    font-weight: 400 !important;
}

.text-glob-sc2 a{
    font-size: 20px !important;
    font-weight: 600 !important;
    color: var(--secondary);
    background: linear-gradient(to top, var(--primary) 0%, var(--primary) 1px, transparent 2px) no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s;
    padding-bottom: 3px;
    display: inline-block;
    text-decoration: none;
}

.text-glob-sc2 a:hover{
    color : var(--secondaryHover);
    background-size: 100% 100%;
}

.titre-glob-sc2{
    font-size: 26px;
}

.containerTextGlob {
    border: thick double var(--secondary);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%; 
    box-sizing: border-box;
}


.glob-container-SC2{
    display: flex;
    flex-direction: column;
}

.paragraph-nb-categories{
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 30px;
}

#searchBarInput{
    border-radius: 30px;
    border: 1px solid var(--secondary);
    height: 60px;
    width: 60vh;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 15px;
    color : var(--secondary);
}

#searchBarInput::placeholder{
    color: var(--secondary);
    font-weight: 600;
    font-size: 20px;
}

#searchBarInput:focus{
    outline: none;
    box-shadow: 0 0 0 0.1rem var(--secondary);
}

#souscategories2Dropdown{
    margin-left: auto;
    width: auto;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    margin-top: 10px;
}


#souscategories2Dropdown:focus{
    outline: none;
    box-shadow: 0 0 0 0.1rem var(--secondary);
}

/* media queries */

@media (max-width: 768px) {
    .filAriane a{
        font-size: 16px;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
        padding: 0 5px;
        font-size: 16px;
    }

    #searchBarInput{
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #souscategories2Dropdown{
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }

    .temps-lecture{
        display: flex;justify-content: center;
    }


}
