@import "./vars.css";
@import "./mixin.css";


.section-1-articles
{
    padding: 50px 0;
}

.temps-lecture{
    padding: 20px 0;
}

.temps-lecture p{
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px;
    text-align: center;
    border-radius: 35px;
    max-width: 200px;
    font-weight: 600;
}

.image-article{
    width: 100%;
    max-height: 511px;
    object-fit: cover;
    border-radius: 25px;

}

.ligne-paire {
    background-color: #F7F7F7;
}

.ligne-impaire {
    background-color: #EFEFEF;
}

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: none;
    padding: 25px;
}

.ligne-paire td {
    background-color: #F7F7F7;
}

.ligne-impaire td {
    background-color: #EFEFEF;
}

.ligne-end td{
    background-color: #e0e0e0;
}

.sujets{
    padding: 50px 0 40px 0;
    font-size: 36px;
}

.tab_impaire{
    padding: 0;
}

.titre-articles{
    margin: 0;
}

.card-link{
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.filAriane a{
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
}

.active-Ariane{
    color: var(--secondary);

}

.card-bottom{
    padding-bottom: 50px;
    height: 200px;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: var(--secondary);
    font-size: 22px;
}

.Image-sujetlies{
    max-width: 500px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 25px;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bouton_tab{
    background-color: var(--secondary) !important;
    color: var(--white);
    font-weight: 600;
    margin:5px 0;
    max-width: 200px;
}

.bouton_tab:hover{
    background-color: var(--secondaryHover) !important;
    color: var(--white);
}

.bouton_tab:active{
    background-color: var(--secondary) !important;
    color: var(--white) !important;
}

.section-2-articles{
    margin-top: 30px;
}

.section-3-articles{
    margin-top: 30px;
}

.section-4-articles{
    margin-top: 90px;
}

.section-5-articles{
    margin-top: 90px;
}

.section-6-articles{
    margin-top: 50px;
}

.section-7-articles{
    margin-top: 60px;
}
