{% extends 'site/base.html.twig' %}


{% block title %}About Vacanow{% endblock %}

{% block main %}
    <h1>About Vacanow</h1>
    <p>
        Vacanow is a website that allows you to find and book the perfect vacation rental.
    </p>
{% endblock %}



