<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation d'envoi de votre message</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 50px;">
    <div style="max-width: 600px; margin: 50px auto; background-color: #fff; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); padding: 40px; text-align: center; height: auto;">
        <img src="https://mathis.daniel-monteiro.fr/uploads/images/logo_vacanows.png" alt="Logo Vacanows" style="width:70px;">
        <h1 style="color: #333; margin-bottom: 20px;">Confirmation d'envoi de votre message</h1>
        <p style="color: #666; margin-bottom: 20px;">Merci pour votre message, nous l'avons bien reçu.</p>
        <p style="color: #666; margin-bottom: 20px;">Nous vous répondrons dans les plus brefs délais.</p>
        <div style="height: 1px; background-color: #ccc; margin: 20px auto; width: 80%;"><span style="color: #ccc; margin: 0 auto; font-size: 14px; padding: 0 10px; background-color: #fff;">-----</span></div>
        <div style="margin-top: 40px; color: #999;">
            <p>Cordialement,<br>L'équipe de Vacanows</p>
        </div>
    </div>
</body>
</html>
