<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body style="
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    ">

    <div style="max-width: 800px;
                margin: 50px auto;
                background-color: #ffffff;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                text-align: center;
                color: #000000">

        <h1 style="color: #333333;">Réinitialisation de votre mot de passe</h1>

        <p style="font-size: 16px; line-height: 1.6; margin-top: 20px; color: #000000;">
            Bonjour,<br>
            Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour le changer :
        </p>

        <div style="text-align: center; margin-top: 20px;">
            <a href="https://vacanows.com/reset-password/{{ resetToken }}" style="text-decoration: none; color: #B04F08; font-weight: bold;">
                Réinitialiser le mot de passe
            </a>
        </div>

        <p style="font-size: 16px; line-height: 1.6; margin-top: 30px; color: #000000;">
            Si vous n'avez pas demandé cela, ignorez cet e-mail.
        </p>

    </div>

</body>
</html>
