<div class="comments-list">
    {% if comments|length == 0 %}
        <p class="no-comments-message">Pas encore de commentaires. Soyez le premier à commenter !</p>
    {% else %}
        {% for comment in comments %}
            <div class="comment" data-id="{{ comment.id }}">
                <div class="comment-content">
                    <div class="comment-author">
                        <span class="author-name">{{ comment.user.username }}</span>
                        <span class="comment-date">{{ comment.getElapsedTime(user_timezone) }}</span>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">{{ comment.comment }}</p>
                        {% if app.user and app.user.id == comment.user.id %}
                            <i class="fas fa-trash delete-icon delete-icon-comment"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<!-- PAGINATION -->
{% include 'site/article/pagination.html.twig' %}
