<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 :( </title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #E76F51;
      color: white;
    }
    .text-center {
      text-align: center;
      animation: fadeIn 2s ease infinite;
    }
    h1 {
      font-size: 8em;
      border-bottom: 1px dashed white;
      margin: 10px;
      cursor: default;
    }
    a {
      text-decoration: none;
      color: white;
    }
    .button {
      border: 1px solid white;
      background: transparent;
      outline: none;
      padding: 10px 20px;
      font-size: 1.1rem;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      transition: background-color 200ms ease-in;
      margin: 20px 0;
      display: inline-block;
    }
    .button:hover {
      background-color: white;
      color: #555;
      cursor: pointer;
    }

  </style>
</head>
<body>
  <div class="flex-container">
    <div class="text-center">
      <h1>
        <span class="fade-in" id="digit1">4</span>
        <span class="fade-in" id="digit2">0</span>
        <span class="fade-in" id="digit3">4</span>
      </h1>
        <h3 class="fadeIn">Oops ! On dirait que vous êtes perdu dans la nature sauvage...</h3>
        <p class="fadeIn">Mais ne vous inquiétez pas, chaque grand voyage commence par un mauvais chemin.</p>
        <a href="{{ path('home') }}" class="button">Retournons à la maison !</a>
    </div>
  </div>
</body>
</html>
