{% extends 'site/base.html.twig' %}

{% block main %}
    <div class="container">
        <h1 class="display-4">Bienvenue sur la page d'accueil !</h1>
        <p class="lead">Ceci est une page de test avec Bootstrap.</p>
        <button type="button" class="btn btn-primary">Bouton Bootstrap</button>
    </div>
{% endblock %}
