<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContactForm" aria-labelledby="offcanvasContactFormLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasContactFormLabel">Formulaire de Contact</h5>
        <button type="button" class="c" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p class="mb-3 paragraphFormContact">Vous avez une question ou une demande particulière ? N'hésitez pas à nous contacter en remplissant le formulaire ci-dessous.</p>
        <form class="d-flex flex-column mt-3 align-items-start" role="search" id="contactForm" method="POST">
            <div class="col-12 mb-3">
                <input type="text"  class="form-control formContactInput contact" name="name" id="contactName" placeholder="Nom*" aria-label="Nom" />
            </div>
            <div class="col-12 mb-3">
                <input type="email"  class="form-control formContactInput contact" name="email" id="contactEmail" placeholder="Email*" aria-label="Email" />
            </div>
            <div class="col-12 mb-3">
                <input type="text"  class="form-control formContactInput contact" name="subject" id="contactSubject" placeholder="Objet*" aria-label="Objet" />
            </div>
            <div class="col-12 mb-3">
                <textarea  class="form-control formContactInput contact" name="message" id="contactMessage" placeholder="Message*" aria-label="Message"></textarea>
            </div>
            <div id="contactMessageContainer"></div>
            <button class="form-button mt-3" type="submit" id="submitContactForm">
                <span id="contactLoader" style="display: none;">Chargement...</span>
                <p class="contact-text">Envoyer</p>
            </button>
            <button class="form-button d-none" id="closeContactForm" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
                <p class="contact-text">Fermer</p>
            </button>

        </form>
    </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("contactForm");
    const nameInput = document.getElementById("contactName");
    const emailInput = document.getElementById("contactEmail");
    const subjectInput = document.getElementById("contactSubject");
    const messageInput = document.getElementById("contactMessage");
    const messageContainer = document.getElementById("contactMessageContainer");


    form.addEventListener("submit", function (event) {
        event.preventDefault();
        const name = nameInput.value.trim();
        const email = emailInput.value.trim();
        const subject = subjectInput.value.trim();
        const message = messageInput.value.trim();

        let isValid = true;
        messageContainer.innerHTML = "";

        if (name === "") {
            isValid = false;
            appendErrorMessage("Le champ Nom est requis.");
        }

        else if (!validateEmail(email)) {
            isValid = false;
            appendErrorMessage("Veuillez saisir une adresse e-mail valide.");
        }

        else if (subject === "") {
            isValid = false;
            appendErrorMessage("Le champ Objet est requis.");
        }

        else if (message === "") {
            isValid = false;
            appendErrorMessage("Le champ Message est requis.");
        }

        if (isValid) {
            // Afficher le chargement dans le bouton
            document.getElementById("contactLoader").style.display = "block";
            document.querySelector(".contact-text").textContent = "";

            // Simuler une requête asynchrone (exemple : setTimeout)
            setTimeout(function () {
                // Cacher le formulaire
                form.style.display = "none";

               // messageContainer.innerHTML = "<p class='text-success'>Le formulaire a été envoyé avec succès!</p>";
                document.querySelector(".paragraphFormContact").textContent = "Votre message a bien été envoyé. Nous vous répondrons dans les plus brefs délais.";
                document.getElementById("submitContactForm").style.display = "none";
                document.getElementById("contactName").style.display = "none";
                document.getElementById("contactEmail").style.display = "none";
                document.getElementById("contactSubject").style.display = "none";
                document.getElementById("contactMessage").style.display = "none";
                document.getElementById("closeContactForm").classList.remove("d-none");
            }, 1500);
        }
    });

    function validateEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    function appendErrorMessage(message) {
        const errorMessage = document.createElement("p");
        errorMessage.classList.add("text-danger");
        errorMessage.textContent = message;
        messageContainer.appendChild(errorMessage);
    }
});

</script>
