<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasContactForm" aria-labelledby="offcanvasContactFormLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasContactFormLabel">Formulaire de Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="d-flex flex-column mt-3 align-items-start" role="search" id="contactForm" method="POST">
            <div class="col-12 mb-3">
                <input type="text" required class="form-control contact" name="name" id="contactName" placeholder="Nom*" aria-label="Nom" />
            </div>
            <div class="col-12 mb-3">
                <input type="email" required class="form-control contact" name="email" id="contactEmail" placeholder="Email*" aria-label="Email" />
            </div>
            <div class="col-12 mb-3">
                <textarea required class="form-control contact" name="message" id="contactMessage" placeholder="Message*" aria-label="Message"></textarea>
            </div>
            <div id="contactMessageContainer"></div>
            <button class="form-button mt-5" type="submit" id="submitContactForm">
                <span id="contactLoader" style="display: none;">Chargement...</span>
                <p class="contact-text">Envoyer</p>
            </button>
        </form>
    </div>
</div>
